/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --black: #3a3a3a;
    --gray-white: #fbf9fa;
    --nav-shadow: 0 8px 8px rgba(0, 0, 0, 0.16);
    --card-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
    --card-background: #efefef;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
